/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  font-family: "Chivo", sans-serif;
  background-color: #0D131F;
  color: #E6ECDF;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-left: 16px;
  padding-right: 5px;
}

/* logo */
.container img {
  width: 150px;
}

/* toggle button */
.navbar-toggler {
  background-color: transparent;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* link colors */
.nav-link {
  color: #E6ECDF;
  font-size: 16px;
  padding-right: 21px;
}
.nav-link:hover {
  color: #F9D352;
}
.nav-link:active {
  color: #95ED6E;
}

main .hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 720px;
  background-image: url("../img/kidcoding-hero.jpg");
  background-size: 1211px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
}
main .hero h1 {
  font-size: 68px;
  line-height: 1.2;
  color: #E6ECDF;
  text-align: center;
  font-weight: normal;
}
main .hero h2 {
  font-size: 16px;
  line-height: 1.2;
  color: #F9D352;
  text-align: center;
  font-weight: normal;
  padding-bottom: 21px;
}

.motiongrid-bg {
  position: relative;
  overflow: hidden;
}

.motiongrid-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: scrollGrid 2s linear infinite;
  z-index: 0;
}

.motiongrid-bg {
  position: relative;
  z-index: 1;
}

/*animacion*/
@keyframes scrollGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -50px;
  }
}
#portfolio {
  background: linear-gradient(180deg, #0D131F 100%, #0D131F 0%);
  height: 100vh;
  align-content: center;
  text-align: center;
}
#portfolio h2 {
  font-size: 21px;
  line-height: 1.2;
  color: #95ED6E;
  text-align: center;
  font-weight: normal;
  width: 100%;
}
#portfolio ul {
  margin: 25px;
  padding: 0px;
}
#portfolio ul li {
  list-style: none;
}
#portfolio ul li a {
  font-size: 34px;
  color: #E6ECDF;
  text-decoration: none;
}

.toolkit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 720px;
  padding: 16px;
  background-color: #0D131F;
  align-content: center;
  text-align: center;
}
.toolkit h2 {
  font-size: 34px;
  line-height: 1.2;
  color: #FC4079;
  text-align: center;
  font-weight: normal;
  width: 100%;
}
.toolkit h3 {
  font-size: 21px;
  line-height: 1.2;
  color: #F9D352;
  text-align: center;
  font-weight: normal;
}
.toolkit p {
  font-size: 16px;
  line-height: 1.2;
  color: #E6ECDF;
  text-align: center;
  font-weight: normal;
}

.toolkit-logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}
.toolkit-logos img {
  margin-left: 16px;
  margin-right: 16px;
  width: 155px;
  opacity: 0.8;
  padding-left: 16px;
  padding-right: 16px;
}

.footer {
  padding-top: 34px;
  color: #E6ECDF;
  background-color: black;
  font-size: 14px;
}
.footer .top-foot {
  text-align: center;
}
.footer .top-foot img {
  width: 150px;
}
.footer .media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer .media-links a {
  height: 85px;
  width: 85px;
  color: #95ED6E;
}
.footer .media-links a:hover {
  color: #F9D352;
}
.footer h4 {
  font-size: 21px;
  line-height: 1.2;
  color: #E6ECDF;
  text-align: left;
  font-weight: normal;
  margin-bottom: 16px;
}
.footer .mylinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.footer .mylinks ul {
  list-style: none;
  padding: 0px;
}
.footer .mylinks ul a {
  color: #F9D352;
}
.footer .mylinks ul a:hover {
  color: #FC4079;
}
.footer .touch-foot {
  background-color: #0D131F;
  border-radius: 7px;
  padding: 16px;
  margin: 21px;
}
.footer .copy-foot {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.bio img {
  padding-top: 84px;
  width: 333px;
  border-radius: 555px;
}
.bio h1 {
  font-size: 34px;
  line-height: 1.2;
  color: #F9D352;
  text-align: center;
  font-weight: normal;
  padding-top: 16px;
}
.bio p {
  font-size: 16px;
  line-height: 1.2;
  color: #F9D352;
  text-align: center;
  font-weight: normal;
}

.accordion-body a {
  color: #95ED6E;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work h2 {
  font-size: 34px;
  line-height: 34px;
  color: #F9D352;
  text-align: center;
  font-weight: normal;
  margin-top: 34px;
}

.work__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  padding-left: 16px;
  padding-right: 16px;
}
.work__hero img {
  height: 70vh;
  object-fit: contain;
}
.work__hero h1 {
  font-size: 48px;
  line-height: 45px;
  color: #95ED6E;
  text-align: center;
  font-weight: normal;
}
.work__hero p {
  font-size: 16px;
  line-height: 26px;
  color: #E6ECDF;
  text-align: center;
  font-weight: normal;
}

main.work th {
  font-size: 18px;
  line-height: 1.2;
  color: #E6ECDF;
  text-align: left;
  font-weight: normal;
}
main.work td {
  padding: 14px 16px;
  border-bottom: 1px solid #E6ECDF;
  font-size: 16px;
}

section.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.work h3 {
  font-size: 34px;
  line-height: 1.2;
  color: #F9D352;
  text-align: left;
  font-weight: normal;
}
section.work p {
  font-size: 16px;
  line-height: 26px;
  color: inherit;
  text-align: left;
  font-weight: normal;
}
section.work ul {
  list-style: none;
  text-align: center;
}

h2.faqs {
  padding-top: 84px;
  padding-left: 16px;
}

div.accordion {
  padding: 34px 16px;
}

.accordion-button {
  font-size: 16px;
  color: #E6ECDF;
  background-color: #0D131F;
}

.accordion-button:not(.collapsed) {
  border: 1px solid #E6ECDF;
  color: #E6ECDF;
  background-color: #0D131F;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button::after {
  filter: brightness(0) invert(1);
  opacity: 0.8;
}

.accordion-body {
  font-size: 16px;
  line-height: 26px;
  color: #E6ECDF;
  background-color: #0D131F;
  overflow: visible;
}

@media screen and (min-width: 768px) {
  main .hero {
    min-height: 100vh;
    background-size: cover;
  }
  main .hero h1 {
    font-size: 148px;
    line-height: 148px;
  }
  main .hero h2 {
    font-size: 18px;
    line-height: 21px;
  }
  .portfolio ul li a {
    font-size: 55px;
    color: #E6ECDF;
    text-decoration: none;
  }
  .toolkit {
    min-height: 900px;
  }
  .toolkit-logos img {
    width: 234px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer .top-foot {
    text-align: center;
  }
  .footer .top-foot p {
    padding: 0 217px;
  }
  .footer .touch-foot {
    align-self: center;
    width: 50%;
  }
  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .bio img {
    width: 512px;
    border-radius: 555px;
  }
  .bio h1 {
    padding-top: 16px;
    font-size: 34px;
    color: #F9D352;
  }
  .bio p {
    width: 512px;
    font-size: 16px;
    line-height: 26px;
  }
  .work__hero {
    padding-top: 55px;
  }
  .work__hero img {
    height: 75vh;
  }
  .work__hero h1 {
    font-size: 55px;
    line-height: 55px;
  }
  .work p {
    width: 50%;
  }
  .work h2 {
    width: 50%;
    padding-bottom: 16px;
  }
  h2.faqs {
    padding-left: 34px;
  }
  div.accordion {
    padding: 16px 34px 55px;
  }
}
@media screen and (min-width: 1025px) {
  main .hero {
    height: 100vh;
    background-size: cover;
  }
  main .hero h1 {
    font-size: 84px;
    line-height: 55px;
  }
  main .hero h2 {
    font-size: 21px;
    padding-top: 21px;
    width: 100%;
  }
  .portfolio ul li a {
    font-size: 84px;
  }
  .toolkit-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 75%;
  }
  .work__hero {
    padding-top: 55px;
  }
  .work__hero img {
    height: 75vh;
  }
  .work__hero h1 {
    font-size: 55px;
    line-height: 55px;
  }
  .work__hero p {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
  }
  .work h2 {
    width: 40%;
    padding-bottom: 16px;
  }
  h2.faqs {
    padding-left: 84px;
  }
  div.accordion {
    padding: 16px 84px 55px;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 84px;
}
.footer .top-foot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  align-items: start;
}
.footer .top-foot .topping {
  width: 70%;
}
.footer .top-foot .topping .media-links {
  justify-content: start;
}
.footer .top-foot .topping .media-links a {
  height: 0;
}
.footer .top-foot .mylinks {
  align-self: center;
}
.footer .top-foot p {
  padding: 0px;
  width: 70%;
}
.footer .touch-foot {
  align-self: center;
  width: 50%;
}
.footer .mylinks {
  text-align: left;
  margin: 0;
  align-items: start;
}
.footer .touch-foot {
  align-self: left;
}

.copy-foot {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: black;
  padding: 34px 0;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
