

@media (min-width: 1025px) {

    /* hero styles */
    .work__hero {
        padding-top: 55px;
    }

    .work__hero img {
        height: 75vh;
    }

    .work__hero h1 {
        font-size: 55px;
        line-height: 55px;
    }

    .work__hero p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    /* subtitulo work */
    .work h2 {
        width: 35%;
        padding-bottom: 16px;
    }


    /* lista worker */
    section.work ul {
        list-style: none;
        text-align: center;
    }

    /* FAQs section*/
    h2.faqs {
        padding-top: 55px;
        padding-left: 55px;
    }

    div.accordion {
        padding: 16px 55px 55px;
    }
}