



/* estilos laptop de biopage */
@media (min-width: 1025px) {

    /* estilo de imagen bio */
    main.bio {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}





/* estilos de work page */

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hero styles */

.work__hero {
    padding-top: 34px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work__hero img {
    height: 70vh;
    object-fit: contain;
}

.work__hero h1 {
    font-size: 48px;
    line-height: 45px;
    color: #95ED6E;
    text-align: center;
}

.work__hero p {
    width: 90%;
    font-size: 16px;
    line-height: 26px;
    color: #E6ECDF;
    text-align: center;
}

/* subtitulo work */
.work h2 {
    padding-top: 34px;
    font-size: 34px;
    color: #FFD70C;
    text-align: center;
    margin-top: 34px;
}

/* header de la tabla */
main.work th {
    text-align: left;
    color: #E6ECDF;
    font-size: 18px;
}

/* celdas */
main.work td {
    padding: 14px 16px;
    border-bottom: 1px solid #E6ECDF;
    font-size: 16px;
}

/* FAQs */
section.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.work h3 {
    font-size: 34px;
    color: #FFD70C;
}

/* descripcion worker */
section.work p {
    font-size: 16px;
    line-height: 26px;
}

/* lista worker */
section.work ul {
    list-style: none;
    text-align: center;
}

/* FAQs section*/
h2.faqs {
    padding-top: 84px;
    padding-left: 16px;
}

div.accordion {
    padding: 34px 16px;
}

/* edicion de boton header de faqs */
.accordion-button {
    font-size: 16px;
    color: #E6ECDF;
    background-color: #04020D;
}

.accordion-button:not(.collapsed) {
    border: 1px solid white;
    color: white;
    background-color: #04020D;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
    opacity: 0.8;
}

/* estilos de caja de respuestas de faqs */
.accordion-body {
    position: static;
    font-size: 16px;
    line-height: 26px;
    color: white;
    background-color: #04020D;
    overflow: visible;
}

/* version tablet work page */

@media (min-width: 768px) {
    .work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* hero styles */

    .work__hero {
        padding-top: 55px;
    }

    .work__hero img {
        height: 75vh;
    }

    .work__hero h1 {
        font-size: 55px;
        line-height: 55px;
    }

    /* subtitulo work */
    .work h2 {
        width: 70%;
        padding-bottom: 16px;
    }


    /* lista worker */
    section.work ul {
        list-style: none;
        text-align: center;
    }

    /* FAQs section*/
    h2.faqs {
        padding-top: 55px;
        padding-left: 55px;
    }

    div.accordion {
        padding: 16px 55px 55px;
    }
}

@media (min-width: 1025px) {

    /* hero styles */
    .work__hero {
        padding-top: 55px;
    }

    .work__hero img {
        height: 75vh;
    }

    .work__hero h1 {
        font-size: 55px;
        line-height: 55px;
    }

    .work__hero p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    /* subtitulo work */
    .work h2 {
        width: 35%;
        padding-bottom: 16px;
    }


    /* lista worker */
    section.work ul {
        list-style: none;
        text-align: center;
    }

    /* FAQs section*/
    h2.faqs {
        padding-top: 55px;
        padding-left: 55px;
    }

    div.accordion {
        padding: 16px 55px 55px;
    }
}