// VARIABLES
@use "../utilities/variables" as *;
// MIXIN
@use "../utilities/mixin" as *;

// mq tablet
@media screen and (min-width: 768px) {

    // HOMEPAGE

    // hero
    main {
        .hero {
            min-height: 100vh;
            background-size: cover;


            h1 {
                font-size: 148px;
                line-height: 148px;
            }

            h2 {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }

    // portolio
    .portfolio ul li a {
        font-size: 55px;
        color: $light-st;
        text-decoration: none;
    }

    // toolkit
    .toolkit {
        min-height: 900px;
    }

    .toolkit-logos img {
        width: 234px;
    }

    // footer
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-foot {
            text-align: center;
            
            p {
                padding: 0 217px;
            }
        }

        .touch-foot {
            align-self: center;
            width: 50%;
        }
    }

    // BIO PAGE
    .bio {
        @include flex($direction: column);
        height: 100vh;

        img {
            width: 512px;
            border-radius: 555px;
        }

        h1 {
            padding-top: 16px;
            font-size: 34px;
            color: $link-y;
        }

        p {
            width: 512px;
            font-size: 16px;
            line-height: 26px;
        }
    }

    // WORKPAGE
    .work__hero {
        padding-top: 55px;
    }

    .work__hero img {
        height: 75vh;
    }

    .work__hero h1 {
        font-size: 55px;
        line-height: 55px;
    }

    .work p {
        width: 50%;
    }

    .work h2 {
        width: 50%;
        padding-bottom: 16px;
    }


    // FAQs section
    h2.faqs {
        padding-left: 34px;
    }

    div.accordion {
        padding: 16px 34px 55px;
    }
}