// VARIABLES
@use "../utilities/variables" as *;
// MIXIN
@use "../utilities/mixin" as *;

// mq laptop
@media screen and (min-width: 1025px) {

    // HOMEPAGE

    // hero
    main {
        .hero {
            height: 100vh;
            background-size: cover;

            h1 {
                font-size: 84px;
                line-height: 55px;
            }

            h2 {
                font-size: 21px;
                padding-top: 21px;
                width: 100%;
            }
        }
    }

    // portfolio
    .portfolio ul li a {
        font-size: 84px;
    }

    // toolkit
    .toolkit-logos {
        @include grid(repeat(3, 1fr), repeat(2, 1fr));
        width: 75%;
    }

    // WORKPAGE
    // hero
    .work__hero {
        padding-top: 55px;
    }

    .work__hero img {
        height: 75vh;
    }

    .work__hero h1 {
        font-size: 55px;
        line-height: 55px;
    }

    .work__hero p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    // titulo de la tabla
    .work h2 {
        width: 40%;
        padding-bottom: 16px;
    }

    // estilos de las FAQs
    h2.faqs {
        padding-left: 84px;
    }

    div.accordion {
        padding: 16px 84px 55px;
    }
}

// footer
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 84px;


    .top-foot {
        display: flex;
        flex-direction: row;
        justify-content: start;
        text-align: left;
        align-items: start;

        .topping {
            width: 70%;

            .media-links {
                justify-content: start;

                a {
                    height: 0;
                }
            }
        }

        .mylinks {
            align-self: center;
        }


        p {
            padding: 0px;
            width: 70%;
        }
    }

    .touch-foot {
        align-self: center;
        width: 50%;
    }

    .mylinks {
        text-align: left;
        margin: 0;
        align-items: start;
    }

    .touch-foot {
      align-self: left;
    }
}

.copy-foot {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        background-color: black;
        padding: 34px 0;
        text-align: center;
    }