// VARIABLES
@use "../utilities/variables" as *;
// MIXIN
@use "../utilities/mixin" as *;

// header
.navbar {
    @include flex($jc: space-between);
    text-align: right;
    padding-left: 16px;
    padding-right: 5px;
}

/* logo */
.container img {
    width: 150px;
}

/* toggle button */
.navbar-toggler {
    background-color: transparent;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* link colors */
.nav-link {
    color: $light-st;
    font-size: 16px;
    padding-right: 21px;

    &:hover {
        color: $link-y;
    }

    &:active {
        color: $link-g;
    }
}

// hero
main {
    .hero {
        @include flex($direction: column, $jc: end);
        min-height: 720px;
        background-image: url('../img/kidcoding-hero.jpg');
        background-size: 1211px;
        background-repeat: no-repeat;
        background-position: center;
        text-align: left;

        h1 {
            @include text($size: 68px, $color: $light-st, $align: center);
        }

        h2 {
            @include text($size: 16px, $color: $link-y, $align: center);
            padding-bottom: 21px;
        }
    }
}

.motiongrid-bg {
    position: relative;
    overflow: hidden;
}

.motiongrid-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.08)1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 50px 50px;
    animation: scrollGrid 2s linear infinite;
    z-index: 0;
}

.motiongrid-bg {
    position: relative;
    z-index: 1;
}

/*animacion*/
@keyframes scrollGrid {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -50px;
    }
}

// portfolio
#portfolio {
    background: linear-gradient(180deg, $dark-st 100%, $dark-st 0%);
    height: 100vh;
    align-content: center;
    text-align: center;

    h2 {
        @include text($size: 21px, $color: $link-g, $align: center);
        width: 100%;
    }

    ul {
        margin: 25px;
        padding: 0px;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        font-size: 34px;
        color: $light-st;
        text-decoration: none;
    }
}

// Toolkit
.toolkit {
    @include flex($direction: column, $jc: start);
    min-height: 720px;
    padding: 16px;
    background-color: $dark-st;
    align-content: center;
    text-align: center;

    h2 {
        @include text($size: 34px, $color: $link-p, $align: center);
        width: 100%;
    }

    h3 {
        @include text($size: 21px, $color: $link-y, $align: center);
    }

    p {
        @include text($size: 16px, $color: $light-st, $align: center);
    }
}

.toolkit-logos {
    @include grid(1fr 1fr, 1fr 1fr 1fr);
    text-align: center;

    img {
        margin-left: 16px;
        margin-right: 16px;
        width: 155px;
        opacity: 0.8;
        padding-left: 16px;
        padding-right: 16px;
    }
}


// footer
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 16px;
    gap: 16px;
    background: linear-gradient(35deg, black, $dark-st);

    // bloque brand
    &__brand {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 150px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            text-align: center;
        }

        .footer__social {
            display: flex;
            justify-content: start;
            gap: 20px;

            a {
                font-size: 20px;
                opacity: 0.8;
                color: white;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    // LINKS
    &__links {
        width: 100%;
        text-align: center;
        color: white;

        h4 {
            font-size: 16px;
            margin-bottom: 12px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;

                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: $link-y;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    // CONTACT
    &__contact {
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 16px 0;
        border-radius: 16px;
        width: 100%;
        text-align: center;
        display: block; // evita heredar flex
        margin: 0 auto; // lo mantiene centrado
        max-width: 300px; // evita que crezca más del viewport

        h4 {
            font-size: 16px;
            margin-bottom: 12px;
        }

        p {
            font-size: 14px;
            margin: 6px 0;
        }
    }
}

.copy-foot {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 16px 0;
    font-size: 13px;
    background-color: black;
}